.gallery {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 20px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #212121;
  font-size: 20px;
  background-color: rgb(168, 168, 214);
  line-height: 1.5;
}

a {
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background-color: #fff;
}

.form-input {
  font-size: 20px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
}

.btn-submit,
.load-more {
  font-size: 20px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}

.form-conteiner,
.container-load-more {
  padding: 10px;
  margin: 0;
  list-style: none;
  align-items: center;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Making ul.menu a Flex container  */
  display: flex;
  justify-content: center;
  background-color: chocolate;
}
.search-form {
  /* align-items: center; */
}

.photo-card {
  width: 100%;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: center;
}

.gallery-image:hover {
  transform: scale(1.03);
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info-item {
  height: 20px;
}

.container-load-more {
  display: none;
  margin-bottom: 50px;

  justify-content: center;
}
