.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  width: 30%;
  align-self: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.info-item {
  height: 20px;
}
